@charset "utf-8";
/* CSS Document */
.espace{
	padding:5px;
}

.total{
	font-size:13px;
	font-style:italic;
}
.bordure{
	border:solid #EB900C;
	background-color:black;
	color:#EB900C;
}
#photo{
	width:15%;
	border:solid #EB900C 5px;
	margin-top:3%;
	margin-left:8%;
}
#presentation{
	margin-left: 8%;
}
#submitProfil{
	margin: 30px 0px 0px 15px;
}
#section1{
	padding:1%;
	margin-top:4%;
	padding-bottom:20%;
}
#section2{
	padding:1%;
	width:55%;
	display:inline-block;
	padding-bottom:20%;
}
#section3{
	border: solid #EB900C 5px;
	margin-left:5%;
	width:40%;
	display:inline-block;
	float:right;
	background-color:#D7DBDA;
	padding:1%;
}
#section4{
	padding-bottom:15%;
}
#fav{
	border: solid #EB900C 5px;
	background-color:#D7DBDA;
	padding:1%;
	padding-bottom:5%;
}
#abon{
	border:solid #EB900C 5px;
	background-color:#D7DBDA;
	padding:3%;
	float:left;
	display:inline-block;
}
#news{
	border:solid #EB900C 5px;
	background-color:#D7DBDA;
	padding:2%;
	padding-top:2%;
	padding-bottom:4%;
	margin-left:2%;
	display:inline-block;
}
.divTrio{
	width:30%;
	background-color: white;
	border: solid #EB900C;
	margin: 5% 3% 3% 0px;
	box-shadow: 6px 7px 23px 0px rgba(0,0,0,0.25);
	padding-bottom:1%;
	display: inline-block;
}
.imgTrio{
	width: 70%;
}
#bodyProfil{
	background-color:#D7DBDA;
}
#taille{
	color:#D7DBDA;
	font-size:40px;
	font-style:italic;
}

